.editor {
  margin-bottom: 15px;
  z-index: 50;

  position: relative;
  height: 250px;
  background-image: url("/public/img/post-it/postit3-1.png");
  background-size: 100% 100%;

  &__btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
  }

  &__top {
    height: 40px;
    width: 100%;
    padding-top: 30px;
  }

  &__body {
    height: 130px;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: $defaultFont;
    font-size: $defaultFontSize;
    outline: 0;
    resize: none;
  }

  &__bottom {
    height: 40px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    &__control {
      &--img {
        display: inline-block;
        width: 40px;
        height: 40px;
      }
      &--text{
        display: inline-block;
        transform: translateY(-14px);
        margin-left: 10px;
        border: solid 3px #cccdcf;
        padding: 6px;
        color: #cccdcf;
        border-radius: 25px;
        font-size: 20px;
      }
    }
  }

  &__color-select {
    width: 160px;

    &__collection {
      display: inline-block;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  &__style-select {
    margin-left: 44px;
    width: 160px;

    &__collection {
      display: inline-block;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  &__tag-select {
    &__collection {
      padding: 5px;
      width: 200px;
      margin: 5px 5px 5px 100px;
      font-size: 22px;
    }
  }
}















