.search {
  position: relative;
  @include responsive(width, 400px, 400px, 300px);
  overflow: hidden;
  margin: 180px auto 20px;

  &__icon {
    float: left;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    @media (max-width: $iPhone6){
      height: 30px;
      width: 30px;
    }
  }

  &__input {
    float: left;
    @include responsive(width, 270px, 270px, 200px);
    background-color: yellow;
    border-style: none;
    height: 32px;
    font-size: $defaultFontSize;
    font-family: $defaultFont;
    padding: 4px;
    outline: none;
  }

  &__btn-close {
    float: left;
    margin-left: 10px;
    height: 40px;
    width: 40px;
  }
}
