.search {
  position: relative;
  @include responsive(width, 400px, 400px, 300px);
  // background-color: #ccc;
  background: url("../img/post-it/postit2-6.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 160px auto 18px;
  height: 175px;
  padding: 15px;

  .search-box {
    @include responsive(width, 270px, 270px, 200px);
    height: 40px;
    margin: 0px auto;
  }

  &__input {
    @include responsive(width, 270px, 270px, 200px);
    background: url("../img/search-icon.png") no-repeat;
    background-size: 30px 30px;
    border-style: none;
    border-bottom: 1px solid #000;
    height: 36px;
    margin: 0px auto;
    font-size: $defaultFontSize;
    font-family: $defaultFont;
    padding-left: 40px;
    outline: none;
  }

  &__btn-close {
    position: absolute;
    right: 25px;
    height: 25px;
    width: 25px;
  }
}
