.sharing-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background: url('../img/sharing-container.png') no-repeat;
  background-size: 100%;
  z-index: 9999;
  overflow: hidden;

  width: 500px;
  height: 300px;
  @media screen and (max-width: 320px) {
    width: 320px;
    height: 100px;
  }
  @media (min-width: 321px) and (max-width: 375px) {
    width: 365px;
    height: 117px;
  }
  @media (min-width: 376px) and (max-width: 500px) {
    width: 410px;
    height: 132px;
  }
}

.sharing-container__url {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 200px;
  left: 222px;
  top: 35px;
  font-size: 22px;
  @media screen and (max-width: 320px) {
    width: 119px;
    left: 139px;
    top: 20px;
    font-size: 16px;
  }
  @media (min-width: 321px) and (max-width: 375px) {
    width: 145px;
    left: 161px;
    top: 25px;
    font-size: 16px;
  }
  @media (min-width: 376px) and (max-width: 500px) {
    width: 150px;
    left: 181px;
    top: 27px;
    font-size: 16px;
  }
}

.sharing-container__close-btn {
  position: absolute;

  @media screen and (max-width: 320px) {
    left: 263px;
    top: 14px;
  }
  @media (min-width: 321px) and (max-width: 375px) {
    left: 306px;
    top: 18px;
  }
  @media (min-width: 376px) and (max-width: 500px) {
    left: 336px;
    top: 21px;
  }

}