.tag-container {
  width: 90%;
  height: 100px;
  overflow-y: scroll;
  margin-top : 46px;

  .tag {
    display: inline-block;
    width: auto;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
  }
}
