// -----------------------------------------------------
// Tag
// -----------------------------------------------------
.tag {
  border: solid 2px #aaa;
  border-radius: 25px;
  background-color: transparent;
  color: #aaa;
  text-align: center;
  cursor: pointer;

  &.tag-hover:hover {
    background-color: transparent;
    color: #cccdcf;
  }
}
