@font-face {
  font-family: 'Handlee-Regular';
  src: url('../fonts/Handlee-Regular.eot');
  src: url('../fonts/Handlee-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Handlee-Regular.woff2') format('woff2'),
  url('../fonts/Handlee-Regular.woff') format('woff'),
  url('../fonts/Handlee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$defaultFont: 'Handlee-Regular', cursive;
$defaultFontSize: 18px;
$largeFontSize: 20px;

.fontastic {
  cursor: pointer;
  font-family: everybrilliantthing;
  font-size: 35px;
  text-align: center;
  &:hover {
    color: grey;
  }
  &:active {
    font-size: 30px;
  }
}